* {
  padding: 0;
  box-sizing: border-box;
}
.Setting {
  width: 100%;
  height: 100%;
  color: #707070;
  padding: 2em;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.Setting h2 {
  font-size: 30px;
  font-weight: 100;
  text-transform: uppercase;
}
span {
  font-size: 15px;
  font-weight: 500;
  border-radius: 4px;
  padding: 3px 15px;
  cursor: pointer;
  text-transform: uppercase;
}
.Default {
  border: 3px solid transparent;
  color: #ffffff;
  background-image: linear-gradient(to right, #41b0d4 0%, #21586a 100%);
  transition: all 0.6s;
  width: 40px;
  padding: 3px 9px;
}
.Dark {
  border: 3px solid transparent;
  color: #ffffff;
  background-image: linear-gradient(to right, #434343 0%, #000000 100%);
  transition: all 0.6s;
}
.Mix {
  background: linear-gradient(to bottom, #4481eb26 0%, #00000026 100%),
    radial-gradient(at top center, #ffffff66 0%, #000000 120%) #04befe;
  background-blend-mode: multiply, multiply;
  color: #ffffff;
  opacity: 0.5;
  cursor: not-allowed;
  padding: 5px 24px;
}
.testtest {
  background: linear-gradient(to bottom, #ffffff26 0%, #00000026 100%),
    radial-gradient(at top center, #ffffff66 0%, #00000066 120%) #989898;
  background-blend-mode: multiply, multiply;

  background-image: linear-gradient(to right, #434343 0%, black 100%);

  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);

  background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
}
